*
{
	margin: 0;
	padding: 0;
}
.hero
{
	height: 100vh;
	width: 100%;
	background-image: url(sky.jpg);
	background-size: cover;
	background-position: left;
	position: relative;
	overflow-x: hidden;
}
.highway
{
	height: 200px;
	width: 600%;
	display: block;
	background-image: url(road.jpg);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-repeat: repeat-x;
	animation: highway 10s linear infinite;
}
@keyframes highway
{
	100%{
		transform: translateX(-3400px)
	}
}
.city
{
	height: 250px;
	width: 500%;
	background-image: url(city.png);
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
	display: block;
	z-index: 1;
	background-repeat: repeat-x;
	animation: city 20s linear infinite;

}
@keyframes city
{
	100%{
		transform: translateX(-1400px);
	}
}
.car
{
	width: 500px;
	left: 50%;
	bottom: -68px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 1;
}
.car img
{
	width: 100%;
	animation: car 3s linear infinite;
}
@keyframes car
{
	100%{
		transform: translateY(-1px);
	}
	50%{
		transform: translateY(1px);
	}
	0%{
		transform: translateY(-1px);
	}
}
.wheel 
{
	left: 50%;
	bottom: 180px;
	transform: translateX(-50%);
	position: absolute;
	z-index: 2;
}
.wheel img
{
	width: 75px;
	height: 75px;
	animation: wheel 1s linear infinite;
}
.back-wheel
{
	left: -175px;
	position: absolute;
}
.front-wheel
{
	left: 110px;
	position: absolute;
}
@keyframes wheel
{
	100%{
		transform: rotate(360deg);
	}
}